# Ignore artifacts: 
build 
coverage

# Ignore all HTML files:
*.html 

# Ignore all files in the bgithub action directory:
.github

# Ignore all files in the node_modules directory:
node_modules

# Ignore all files in the .vscode directory:
.vscode

# ignore the prettier config
.prettierrc**

# ignore the readme file
README.md